a {
    text-decoration: none;
  }

  

  .purchase {
    padding:89px 0 0;
    text-align:center;
  }
  .purchase h1 {
    font-size:26px;
    letter-spacing:3px;
    line-height:40px;
    text-transform:uppercase;
  }
  .purchase p {
    font-size: 26px;
    line-height: 45px;
    max-width:750px;
    margin:0 auto;
  }
  .purchase-trigger {
    margin-top:50px;
    border:1px solid #e800dc;
    border-radius:50px;
    font-size:26px;
    display:inline-block;
    cursor:pointer;
    position:relative;
  }
  
  .purchase-trigger * {
    -webkit-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
    -moz-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
    -o-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
    transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
  
    -webkit-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
    -moz-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
    -o-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
    transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .purchase-trigger span {
    padding:17px 80px;	
    color:#e800dc;
    width:246px;
    display: inline-block;
  }
  .purchase-trigger .bubble {
    position:absolute;
    background:#e800dc;
    top:0;
    border-radius:50px;
    left:0;
    height:74px;
    width: 246px;
    z-index:-1;
  }
  .purchase-trigger.right .bubble {
    margin-left:246px;	
  }
  
  .purchase-trigger:not(.right) .annual {
    color:#fff;
  }
  .purchase-trigger.right .monthly {
    color:#fff;
  }
  
  .purchase ul {
    display:table;
    margin:70px auto 0;
    width:100%;
    max-width:1100px;
  }

  @media screen and (max-width: 768px) {
    .purchase ul {
      padding: 0 !important;
    }
  }


  .purchase li {
    display:table-cell;
    width:33.333%;
    padding:43px 0 0;
    -webkit-transition: 0;
    -webkit-transition: all 0.25s, color 0s !important;
    -moz-transition: all 0.25s, color 0s !important;
    -o-transition: all 0.25s, color 0s !important;
    transition: all 0.25s, color 0s !important;
    position:relative;
    z-index:0;
    border:1px solid #BBB;
  }

  @media screen and (max-width: 768px) {
    .purchase li {
      display:table-row;
      width:66.66%;
      padding:43px 0 0;
      border:1px solid #BBB;
    }
  }
  
  .purchase li:first-child {
    position:relative;
    right:-1px;	
  }
  .purchase li:last-child {
    position:relative;
    left:-1px;	
  }
  
  
  .purchase li:hover {
    box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
    z-index:1;
    color:#fff;
    background:#e800dc;
    border-color:#e800dc;
    -webkit-transform:scale(1.05);
  }
  
  .purchase li * {
    -webkit-transition: 0 !important;
    -moz-transition: 0 !important;
    -o-transition: 0 !important;
    transition: 0 !important;
  }
  
  .purchase li:hover * {
    color:#fff !important;
    border-color:rgba(255, 255, 255, 0.27) !important;
  }
  
  
  
  .purchase li strong {
    font-size:19px;
    text-transform:uppercase;
    color:#ffffff;
    letter-spacing:2.4px;
    line-height:45px;
    font-weight:400;
    margin-bottom: 25px;
    display: inline-block;
  }
  
  .purchase ul .purchase-description {
    display:block;
    font-size:19px;
    line-height:30px;
  }
  
  .purchase .purchase-price {
    font-size:84px;
    letter-spacing:2px;
    padding-top:20px;
    display:block;
    font-weight:400;
    padding-bottom:12px;
  }
  .purchase .purchase-button {
    text-transform:uppercase;
    font-size:19px;
    color:#2F3740;
    text-decoration:none;
    line-height:1;
    padding:28px 0 24px;
    border-top:1px solid #bbb;
    width:100%;
    display:inline-block;
    margin-top:6px;
    display:block;
  }
  .purchase li:hover .purchase-button {
  
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
  }
  
  
  .purchase ul a:hover {
    color:#e800dc;
  }
  
  .purchase ul a, .purchase ul a:hover .purchase-price, .purchase ul a:hover .purchase-description {
    color:#6C6C6C;
  }